body {

    background-color: rgb(83, 83, 83);

}

.div-welcome {

    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 1s forwards linear;
    
    
    
}

.p-welcome {

    font-size: 15px;
}


.div-info {

    color: white;
}

.div-form {

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(255, 145, 0);   
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-size-adjust: auto;
    border-radius: 10px;

}

.first-name {

    display: block;
    margin-left: 110px;
}

.first-name-class {

    margin-top: 5px;
    display: block;
    margin-left: 60px;
    width: auto;
    height: 30px;
    border-radius: 5px;

}

.last-name {

    display: block;
    margin-left: 110px;
}

.last-name-class {

    margin-top: 5px;
    display: block;
    margin-left: 60px;
    width: auto;
    height: 30px;
    border-radius: 5px;
    
}

.email {

    display: block;
    margin-left: 130px;
}

.email-class {

    margin-top: 5px;
    display: block;
    margin-left: 10x;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    
}

.wing-text {

    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wing-number {

    margin-top: 5px;
    display: block;
    margin-left: 10x;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 15px;
    
}

.RequestDetails {

    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 30px;
    margin-top: 15px;   
    border-radius: 5px; 
    border-width: 2px;
}

.Request-text {

    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    
}

.SubmitReset {


    margin-left: 95px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Submit {

    border-radius: 5px;
    height: 30px;
    background-color: green;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    transition: transform 0.3s;

}

.Submit:hover {

    background-color: rgb(109, 255, 109);
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-2px);

}

.Submit:active {

    background-color: green;
}

.Reset {

    border-radius: 5px;
    height: 30px;
    background-color: rgb(255, 136, 0);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    transition: transform 0.3s;
}

.Reset:active {

    background-color: rgb(255, 136, 0);
}

.Reset:hover {

    background-color: rgb(255, 221, 109);
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-2px);

}

.UrgentButton {

    margin-left: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.WaitButton {
    margin-left: 100px;
    display: inline-block;
}