body {

    background-color: rgb(83, 83, 83);

}

.div-welcome {

    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: fadeIn 2s forwards linear;
    animation-delay: 0.5s;
    
    
}

@keyframes fadeIn {

    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    25% {

        opacity: 0.25;
        transform: translateY(-5px);
    }

    50% {

        opacity: 0.50;
        transform: translateY(-10px);
    }

    75% {

        opacity: 0.75;
        transform: translateY(-15px);
    }

    100% {

        opacity: 1;
        transform: translateY(-20px);
    }
}

.p-welcome {

    font-size: 15px;
}

@keyframes fadeIn {

    25% {

        opacity: 0.25;
        transform: translateY(-10px);
    }

    50% {

        opacity: 0.50;
        transform: translateY(-10px);
    }

    75% {

        opacity: 0.75;
        transform: translateY(-10px);
    }

    100% {

        opacity: 1;
        transform: translateY(-10px);
    }
}


.div-info {

    color: white;
}

.div-form {

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(255, 145, 0);   
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;


}

.first-name {

    display: block;
    margin-left: 50px;
    

}

.first-name-class {

    display: block;
    margin-left: 50px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}